<!DOCTYPE html>
<html>
  <head>
    <title>Fritter | <%= user.name %>'s Feed</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <script src='/javascript/feed.js'></script>
  </head>
  <body>
    <!-- logout and new frit buttons -->
    <form action='/logout' class='controls' method='post'>
        <input type='submit' class='btn btn-large btn-default controls' value='Logout' method='post'>
    </form>
    <button class='btn btn-large btn-primary edit controls' id='-1'>New Frit</button>

    <h1>Welcome, <%= user.name %>!</h1>
    <button id='all-frits' disabled='disabled' class='btn btn-info feed-controls'>See Frits of everyone</button>
    <button id='follow-frits' class='btn btn-success feed-controls'>See only Frits of those you follow</button>
    <button id='fav-frits' class='btn btn-warning feed-controls'>See only favorite Frits</button>
    <br>
    <br>

    <!-- error handling -->
    <% if (error) { %>
    <p class='text-danger'><%= error %></p>
    <% } %>
    
    <!-- on success handling -->
    <% if (success) { %>
    <p class='text-success'><%= success %></p>
    <% } %>

    <br>

    <!-- loop over all frits and add them -->
    <% frits.forEach(function(frit, counter) { %>
        <% var followed = user.isFollowing(frit.author.id); %>
        <% var favorited = frit.isFavoriteOf(user.id); %>
        <% var followedString = followed ? 'followed' : 'not-followed'; %>
        <% var favoriteString = favorited ? 'favorited' : 'not-favorited'; %>
        <% var followActionString = followed ? 'Unfollow' : 'Follow'; %>
        <% var favoriteActionString = favorited ? 'Unfavorite' : 'Favorite'; %>

        <div class='frit frit-holder <%= followedString %> <%= favoriteString %>'>

            <!-- only authors of frits can edit/delete their frits -->
            <% if (frit.author.email == user.email) { %>
                <!-- delete frit -->
                <form class='deleteFrit' action='/deleteFrit' method='post'>
                    <input type='hidden' name='fritId' value=<%= frit.id %>>
                    <button type='submit' class='btn btn-default' method='post'>
                        <i class='fa fa-trash'> Delete</i>
                    </button>
                </form>

                <!-- edit frit -->
                <button id=<%= counter %> class='btn btn-primary edit' fritId=<%= frit.id %>>
                    <i class='fa fa-pencil'> Edit</i>
                </button>
            
            <% } else { %>
                <!-- follow button -->
                <form class='follow' action='/follow' method='post'>
                    <input type='hidden' name='userIdToFollow' value=<%= frit.author.id %>>
                    <input type='hidden' name='follow' value=<%= !followed %>>
                    <button type='submit' class='btn btn-success' value='<%=followActionString%>' method='post'>
                        <i class='fa fa-user'> <%= followActionString %></i>
                    </button>
                </form>

                <!-- favorite button -->
                <form class='favorite' action='/favorite' method='post'>
                    <input type='hidden' name='fritIdToFavorite' value=<%= frit.id %>>
                    <input type='hidden' name='favorite' value=<%= !favorited %>>
                    <button type='submit' class='btn btn-warning' method='post'>
                        <i class='fa fa-heart'> <%= favoriteActionString %></i>
                    </button>
                </form>

            <% } %>

            <span id=<%= counter %> class='frit author'><%= frit.author.name %>:</span> 
            <span id=<%= counter %> class='frit frit-text'><%= frit.content %></span>
            <br>
            <% var dateString = frit.createdOn.toString(); %> <!-- cut off GMT -->
            <span id=<%= counter %> class='frit frit-footer'>posted on <%= dateString.substring(0, dateString.length-15) %> | favorited <%= frit.favoritedBy.length %> times</span>
        </div>
    <% }); %>

    <!-- modal for adding new Frit/editing an existing Frit -->
    <div class='modal fade' id='editModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'> 
        <div class='modal-dialog'> 
          <div class='modal-content'> 
            <div class='modal-header'> 
              <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button> 
              <h4 class='modal-title' id='editModalLabel'></h4> 
            </div> 
            <div class='modal-body'> 

              <!-- editing space --> 
              <form id='editFrit' method='post'> 
                <input id='fritIdInput' type='hidden' name='fritId'> 
                <input id='contentInput' type='text' name='content' required autofocus> 
                <input type='submit' class='btn btn-primary' value='Save Changes' method='post'> 
              </form> 
              <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button> 
              <!-- /editing space --> 

            </div> 
          </div>
        </div> 
    </div>
    <!-- /modal -->

  </body>
</html>