<!DOCTYPE html>
<html>
  <head>
    <title>Fritter | <%= user.name %>'s Feed</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <script src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <script src='/javascript/feed.js'></script>
  </head>
  <body>
    <!-- logout and new frit buttons -->
    <form action='/logout' class='controls' method='post'>
        <input type='submit' class='btn btn-large btn-default controls' value='Logout' method='post'>
    </form>
    <button class='btn btn-large btn-primary edit controls' id='-1'>New Frit</button>

    <h1>Welcome, <%= user.name %>!</h1>
    <br>

    <!-- error handling -->
    <% if (error) { %>
    <p class='text-danger'><%= error %></p>
    <% } %>
    
    <!-- on success handling -->
    <% if (success) { %>
    <p class='text-success'><%= success %></p>
    <% } %>

    <br>

    <!-- loop over all frits and add them -->
    <% frits.forEach(function(frit, counter) { %>
        <p class='frit'>
            <!-- only authors of frits can edit/delete their frits -->
            <% if (frit.author.email == user.email) { %>
                <!-- delete frit -->
                <form class='deleteFrit' action='/deleteFrit' method='post'>
                    <input type='hidden' name='fritId' value=<%= frit.id %>>
                    <input type='submit' class='btn btn-default' value='X' method='post'>
                </form>

                <!-- edit frit -->
                <button id=<%= counter %> class='btn btn-primary edit' fritId=<%= frit.id %>>Edit</button>
            <% } %>

            <span id=<%= counter %> class='frit author'><%= frit.author.name %>:</span> 
            <span id=<%= counter %> class='frit frit-text'><%= frit.text %></span>
            <br>
            <% var dateString = frit.date.toString(); %> <!-- cut off GMT -->
            <span id=<%= counter %> class='frit frit-date'><%= dateString.substring(0, dateString.length-15) %></span>
        </p>
    <% }); %>

    <div id='editModalHere'></div>

  </body>
</html>